services:
  shukachi.seedagent.api:
    image: ${DOCKER_REGISTRY-}shukachiseedagentapi
    build:
      context: .
      dockerfile: Shukachi.SeedAgent.Api/Dockerfile
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data:
